
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

# Configuration éditeur
.vscode/
.idea/

# Fichiers binaires et documents
*.pdf
*.jpg
*.jpeg
*.png
*.gif

# Fichiers d'environnement locaux
.env.dev
.env.local
.env.*.local
