{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Tableau de bord{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <h2>Bienvenue dans l'administration du CMS DISII</h2>
            <p class="text-muted">Utilisez le menu à gauche pour gérer le contenu du site.</p>
        </div>
    </div>
{% endblock %}
